#loginContainer {
    width: 31rem;
    height: 43rem;
}

#buttonLogo {
    width: 214px;
    height: 64px;
    background-color: #F69F1D;
    color: white;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: none;
    border-radius:10px;
    user-select: none;
    cursor: default;       /* Show default cursor to indicate non-clickability */
    pointer-events: none;
    text-decoration-color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px  1px 0 #000,
    1px  1px 0 #000;
}

#formFields{
    height:40px;;
    width:295px;
    font-size: 24px;
    font-weight: bold;
}

#formButton{
    margin-top:100px;
    width:214px;
    height:64px;
    font-size: 24px;
    font-weight: bold;
    background-color:#207FEE;
    color:white;
    border: none;
    border-radius:10px;
}


.container {
    display: grid;
    place-items: center;
    height: 100%;
}



.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}


#profileContainer{
    width:40rem;
    margin-top:10rem;
}

.navbar-nav .nav-item.active .nav-link {
    color: blue;
}
#profileButton{
    margin-top:100px;
    width:147px;
    height:64px;
    font-size: 24px;
    font-weight: bold;
    background-color:#F69F1D;
    color:white;
    border: none;
    border-radius:10px;
}
